HONEYPOT_HOST=0.0.0.0
HONEYPOT_PORT=2323

DATABASE_PATH=database/attacks.db

BRUTE_FORCE_LIMIT=5

SECURITY_LOG_PATH=logs/security.log
ATTACK_LOG_PATH=logs/attack_logs.txt

REPORT_FOLDER=reports

ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=your_bcrypt_hash_here